
body {
    background-color: #121212;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500; /* Medium (500) */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

/* Custom styles for the dark theme */
.navbar-dark .dropdown-menu {
background-color: #212529; /* Dark background color */
}

.navbar-dark .dropdown-menu a {
color: #fff; /* White text color */
}

.navbar{
background-color: #1c1c1c;
}





 


/* Style form inputs and buttons */
.form-control,
.btn {
    border-color: slategray; /* Slate gray border color */
}

.form-control:focus,
.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25); /* Focus shadow */
}

/* Style output textarea */
#configOutput {
    background-color: slategray; /* Slate gray background color */
    color: #fff; /* White text color */
    border-color: slategray; /* Slate gray border color */
}
